<form style="margin-top:200px;" action="/fizzit" method="get">
  <h1>Choose a number to fizzbuzzify!</h1><br>
  <input class="form-control input_box" type="text" name="number" value="<% @number%>"> <br>
  <input class="button btn btn-primary" type="submit" value= "Fizzit!">
</form>
