<form action="/fizzit" method="get">
  <h2>Choose a number to fizzbuzzify!</h2><br>
  <input class="form-control input_box" type="text" name="number" value="<% @number%>"> <br>
  <input class="button btn btn-fizzbuzz btn-lg" type="submit" value= "Fizzit!">
</form>
