<form action="/fizzit" method="get">
  <h1>Choose a number to fizzbuzzify!</h1>
  <input class="form-control input_box" type="text" name="number">
  <input class="button" type="submit" value= "Fizzit!">
</form>
