<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fizzbuzzifier!</title>
    <link href='https://fonts.googleapis.com/css?family=Faster+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <style>
      body {
        color: white;
        font-family: 'Montserrat', sans-serif;
        background: url("https://images.unsplash.com/photo-1467173572719-f14b9fb86e5f?dpr=2&amp;auto=format&amp;crop=entropy&amp;fit=crop&amp;w=1442&amp;h=961&amp;q=80") no-repeat center center fixed;
        background-size: cover;
      }
      h2 {
        font-size: 3.2rem;
      }
      h1 {
        font-size: 6.5rem;
        font-family: 'Faster One',cursive;
        padding-top: 7rem;
        padding-bottom: 5rem;
      }
      .btn-fizzbuzz {
        color: #fff;
        background-color: #337ab7;
        border-color: #2e6da4;
        padding: 13px 30px;
      }
      .btn-fizzbuzz:hover {
        background-color: #2a6496;
        color: #fff;
      }
      .form-control {
        padding: 19px 12px;
        font-size: 18px;
      }

    </style>
  </head>
  <body>
    <div class="container text-center">
      <div class="col-sm-6 col-sm-offset-3">
        <h1> <span style="color: <%= fizz_color(@fizzed_number)%>;">FIZZ</span><span style="color: <%=buzz_color(@fizzed_number)%>;">BUZZ</span> </h1>
        <%= yield %>
      </div>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </body>
</html>
