<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Fizzbuzzifier!</title>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <style>
      body {
        color: white;
        font-family: 'Montserrat', sans-serif;
        background-image: url("https://images.unsplash.com/photo-1466624403532-eeada121165f?dpr=2&amp;auto=format&amp;crop=entropy&amp;fit=crop&amp;w=1440&amp;h=1080&amp;q=80");
        background-size: cover;
      }
      h1 {
        font-size: 3.2rem;
      }
    </style>
  </head>
  <body>
    <div class="container text-center">
      <div class="col-sm-6 col-sm-offset-3">
        <%= yield %>
      </div>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </body>
</html>
